@*@model AngularJS_CS.Models.Questionnaire*@
@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model AngularJS_CS.Controllers.QuestionController
<link rel="stylesheet/less" href="~/Content/less/questionnaire.less" />
<h2>Nouveau Questionnaire</h2>


@using (Html.BeginForm(""))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <div class="col-ld-10">
                <h5>Destinataires</h5>
                @Html.DropDownListFor(model => model.Dests, ViewBag.ListIndividus as SelectList, "Individus", htmlAttributes: new { id = "destinchoi", onchange = "newDestin(this.value)", type = "destlist" })
                @Html.DropDownListFor(model => model.Dests, ViewBag.ListGroupe as SelectList, "Groupes", htmlAttributes: new { id = "destinchoi", onchange = "newDestin(this.value)", type = "destlist" })
                @Html.TextBoxFor(model => model.dests, htmlAttributes: new { id = "destbox", type = "destinataire", placeholder = "Destinataire(s)", required = true })
                <h5>Sujet du questionnaire</h5>
                @Html.TextBoxFor(model => model.Question.Message.sujet, htmlAttributes: new { type = "sujet", placeholder = "sujet" })
            </div>
            @Html.TextAreaFor(model => model.Question.Message.contenu, htmlAttributes: new { type = "detail", placeholder = "Details" })
            @Html.ListBoxFor(model => model.Question.Option_Questionnaire, ViewBag.ListRep as MultiSelectList, htmlAttributes: new { type = "reponses", required = true })
            

            @*<div class="form-group">
                <div class="col-ld-offset-2 col-md-10">*@
            <input type="submit" class="btn btn-block" />
            @*</div>
                </div>*@
        </div>


    </div>
}

@using (Html.BeginForm("Index")) {
    <div id = "repZone" class="col-md-3 col-xs-12 col-sm-3">
    <ul class="download-btn">
        <li>
            <div>
                <a id="repform" class="btn btn-default btn-andriod">Nouveau</a>
            </div>
            <div id="hidden_divrep" class="hidden">
                <div class="formrepholder">
                    <fieldset>
                        @Html.TextBoxFor(Model => Model.Rep, htmlAttributes: new { id = "new_rep", type = "reponse", placeholder = "Réponse" })
                        @*@Html.Action("Addrep")*@
                        <input class="btn btn-andriod" type = "submit" @Html.ActionLink("Ajouter", "Index", "QuestionController", null, null)   />

                    </fieldset>
                </div>
            </div>
        </li>
    </ul>
</div> }

<div>
    @Html.ActionLink("Back to List", "../")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/AllOurScripts/newrep.js"></script>
<script src="~/Scripts/AllOurScripts/Repshow.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>