@using System.Web.Optimization

<div id="dv-container" ng-app="dbopModule" ng-controller="DbopController">
    <div id="dv-form">
        <table id="tbl-dbop">
            <tr>
                <td>
                    <span>Id</span>
                </td>
                <td>
                    <input type="text" id="tsid" readonly="readonly" ng-model="Id" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>Nom</span>
                </td>
                <td>
                    <input type="text" id="tsname" required ng-model="nom" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>Année</span>
                </td>
                <td>
                    <input type="text" id="tsprenom" required ng-model="prenom" />
                </td>
            </tr>
        </table>
    </div>
    <div id="dv-buttons">
        <input type="button" id="new" value="Nouveau" ng-click="clear()" />
        <input type="button" id="save" value="Enregistrer" ng-click="save()" />
        <input type="button" id="delete" value="Supprimer" ng-click="delete()" />
    </div>
    <div id="dv-msg">{{Message}}</div>
    <div id="dv-results">
        <table id="tbl-results">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                </tr>
            </thead>
            <tbody ng-repeat="Ind in Individus">
                <tr ng-click="get(Ind)">
                    <td> <span>{{Ind.Id}}</span></td>
                    <td> <span>{{Ind.nom}}</span></td>
                    <td> <span>{{Ind.prenom}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/module")
@Scripts.Render("~/bundles/service")
@Scripts.Render("~/bundles/controller")
@Styles.Render("~/Content/css/Home")